@charset "utf-8";
/* CSS Document */
body{font-family: 'CALIBRI',"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;background-color:#f0f0f0;}
:focus{
	outline:none;
	border-color: #999;
}
.cusel:focus { outline:none; border-color: #999;}
label{font-weight:bold;}
input,select{
	padding:5px;
	border: 1px solid #e3ddd7;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {float: left;	display:inline-block;}	
.col-lg-12 {width: 100%;}
  .col-lg-11 {width: 91.66666667%;}
  .col-lg-10 {width: 83.33333333%;}
  .col-lg-9 {width: 75%;}
  .col-lg-8 {width: 66.66666667%;}
  .col-lg-7 {width: 58.33333333%;}
  .col-lg-6 {width: 50%;padding-bottom: 5px;padding-top: 5px;}
  .col-lg-5 {width: 41.66666667%;}
  .col-lg-4 {width: 33.33333333%;}
  .col-lg-3 {width: 25%;}
  .col-lg-2 {width: 16.66666667%;}
  .col-lg-1 {width: 8.33333333%;}	
.wrapper{max-width:960px;margin:10px auto;border:1px solid #d8d8d8;}
.float-right{float:right;padding-top: 16px;}
.body-container{background-color:#fff;}	
header{display:inline-block;width:100%;background-color:#fff;}
header img{padding:5px;}
.container {width: 98%;display: inline-block;padding: 1%;}
.sub-title-line {font-size: 125%;font-weight: bold;margin-top: 10px;margin-bottom: 10px;padding-top: 10px;padding-bottom: 5px;border-bottom: 2px solid #f1f1f1;}
.sub-title-line .col-lg-12{height: 29px;}		
/* Accordion */	
.accordion h2,.accordion2 h2{background: url(../images/paypage-images/heading-bg.jpg) 0 0 repeat-x;line-height:29px;padding:0 5px;font-weight: normal;font-size:14px;color:#333;margin:0;cursor:pointer;}	
.accordion2 h2.open{cursor:default;}
.accordion2 h2.close{opacity: 1;width: 100%;}	
.accordion .group,.accordion2 .group{padding:2px;margin-bottom:3px;}	
.accordion .group .content,.accordion2 .group .content{padding:5px;}	
.cvv-card{margin-top: 60px;}	
.captcha-field{float: left;margin: 5px 8px 5px 0;}
.captcha{margin: 18px 5px 18px 0;}
#reload:hover{cursor:pointer;}
.btn{border: 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color: #fff;padding: 7px 15px;border: 0;}
.gray-btn{background: #555;border: 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;color: #fff;padding: 7px 15px;border: 0;}
 .gray-btn:hover{background: #333;cursor:pointer;}	  
footer img{padding: 10px 5px 10px 0;vertical-align: middle;}	
.tooltip {display:none;position:absolute;border:1px solid #333;background-color:#161616;border-radius:5px;padding:5px 10px;color:#fff;max-width:300px;}	
.help{width: 24px;height: 34px;padding: 5px 12px;margin-left:5px;}	
.note{color:#aeaeae;font-size:75%;font-weight: normal;}
input[type="radio"]{margin: 0;}
.radio-txt{vertical-align: top;line-height: 13px;padding: 0 5px;}
.progress-page {height: 100%;width: 100%;position: fixed;background-color: rgba(0,0,0,0.5);  z-index: 9999;  top: 0;left: 0;}
.progress-insidepage {text-align:left;left:38%;top:30%;position: absolute;background-color:#fff;padding:10px;}